body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

main.container.py-5 {
    flex-grow: 1;
    padding-bottom: 1rem;
}

body > div > main > div > button:first-child {
    background-color: #00274D;
    border: 2px solid #00274D;
    font-weight: 600;
}

body > div > main > div > button:last-child {
    background-color: #F5F5F5;
    border: 2px solid #00274D;
    color: #00274D;
    font-weight: 600;
}

body > div > main > div > button:last-child:hover {
    background-color: #00274D;
    border-color: #00274D;
    color: #FFFFFF;
}

footer {
    background-color: #00274D;
    margin-top: auto; 
}

h1, h2, label {
    color: #00274D;
}

body > main > form > ul > li > div > input {
    background-color: #00274D;
}

body > main > form > ul > li > div > button {
    background-color: #00274D;
}

body > nav {
    background-color: #00274D;
}

body > nav > button {
    background-color: #F5F5F5;
}

body > div#sidebar {
    background-color: #02284a;
    color: white;
}

body > div#sidebar a.nav-link {
    color: #fff;
    font-weight: 600;
}

main > div > div > a {
    color: #000000;
}

main > div > div > a:hover {
    color: #00274D;
    font-weight: bold;
}

main > div:last-child > button {
    color: #FFFFFF;
    background-color: #00274D;
}

main > div:last-child > button:hover {
    color: #00274D;
    background-color: #F5F5F5;
    border-color: #00274D;
    font-weight: bold;
}

.btn-unibo {
    background-color: #00274D;
    color: #ffffff;
    font-weight: 600;
    border: 2px solid #00274D;
}

.btn-unibo:hover,
.btn-unibo:focus,
.btn-unibo:active {
    background-color: #00274D;
    color: #ffffff;
    border-color: #00274D;
    outline: none; 
}
