    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #F5F5F5;
    }


    body > div> main > div > button:first-child {
        background-color: #00274D;
        border: 2px solid #00274D;
        font-weight: 600;
    }

    body > div > main > div > button:last-child {
        background-color: #F5F5F5;
        border: 2px solid #00274D;
        color: #00274D;
        font-weight: 600;
    }

    body > div > main > div > button:last-child:hover {
        background-color: #00274D;
        border-color: #00274D;
        color: #FFFFFF;
    }

    footer {
        background-color: #00274D;
        margin-top: auto; /* Spinge il footer verso il basso */
    }

    h1, h2, label{
        color: #00274D;
    }

    body> main > form > ul> li > div > input{
        background-color: #00274D;
    }

    body> main > form > ul> li > div > button{
        background-color: #00274D;
    }

    body>nav{
        background-color: #00274D;
    }

    body > nav > button{
        background-color: #F5F5F5;
    }
